@page "/"
@using MovieStore.Web.Models
@using MovieStore.Web.Services.Interfaces
@inject ICatalogBackendClient _catalogBackendClient
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<div class="main">
    <ul class="movie-card">
        @if (_movies != null)
        {
            @foreach (var movie in _movies)
            {
                <li style="background-image: url('@movie.PosterUrl')">
                    <div class="movie-info">
                        <span class="title"><a href="/movie/@movie.Id">@movie.Title</a></span>
                        @movie.Tagline
                        <span class="price">@movie.Price</span>
                    </div>
                </li>
            }
        }
    </ul>
</div>

@code
{
    List<Movie> _movies = new List<Movie>();
    bool _shouldRender = false;
    protected override bool ShouldRender() => _shouldRender;

    protected override async Task OnInitializedAsync()
    {
        _movies = await _catalogBackendClient.GetMovies();
        _shouldRender = true;
    }
}
