@page "/"
@using MovieStore.Web.Models
@using MovieStore.Web.Services.Interfaces
@inject ICatalogBackendClient _catalogBackendClient
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<h1>Movie Store</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Release Date</th>
            <th scope="col">Genre</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in _movies)
        {
            <tr>
                <td><a href="/movie/@movie.ID">@movie.Title</a></td>
                <td>@movie.ReleaseDate</td>
                <td>@movie.Genre</td>
                <td>@movie.Price</td>
            </tr>
        }
    </tbody>
</table>

@code
{
    List<Movie> _movies = new List<Movie>();
    bool _shouldRender = false;
    protected override bool ShouldRender() => _shouldRender;

    protected override async Task OnInitializedAsync()
    {
        _movies = await _catalogBackendClient.GetMovies();
        _shouldRender = true;
    }
}
