@inherits LayoutComponentBase

<PageTitle>MovieStore.Web</PageTitle>

<div class="top-bar">
    <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
        <img src="img/icons8-movie-50.png" />
        <div>Movies</div>
    </NavLink>
</div>

<div class="content">
    @Body
</div>